/* General reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    
    background: url(https://t4.ftcdn.net/jpg/08/31/47/51/240_F_831475146_sRrsLzvzHHCDyuPJE19ypIfo2MOnNZrv.jpg)no-repeat;
    background-size: cover;
    color: #333;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

header .logo h1 {
    font-size: 24px;
    color: #333;
}

header nav {
    display: flex;
    align-items: center;
}

header input[type="text"] {
    padding: 8px;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

header .search-btn {
    padding: 8px 15px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

header .menu {
    margin-left: 30px;
}

header .menu button {
    margin-right: 10px;
    background-color: transparent;
    border: none;
    color: #007bff;
    cursor: pointer;
}

header .login {
    background-color: #007bff;
    color: white;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.inspiration {
    text-align: center;
    padding: 50px 20px;
}

.inspiration h2 {
    font-size: 36px;
    margin-bottom: 10px;
    color: white;
    text-shadow:
    1px 1px 2px black,
    0 0 1em blue,
    0 0 0.2em blue;
    
}

.inspiration p {
    font-size: 18px;
    margin-bottom: 40px;
    color: #555;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    margin-top: 20px;
    
}



.card:hover {
    transform: scale(1.05);
}
.card {
    width: 250px; /* Set a fixed width */
    height: 300px; /* Set a fixed height */
    margin: 10px; /* Add some margin for spacing */
    border: 1px solid #ccc; /* Optional: Add a border */
    overflow: hidden; /* Hide overflow */
    text-align: center; /* Center align text */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.card img {
    width: 100%; /* Make image take full width */
    height: 150px; /* Set a fixed height for images */
    object-fit: cover; /* Ensure the image covers the area */
}

.card h3 {
    font-size: 20px;
    margin-top: 15px;
    color: white;
    text-shadow:
    1px 1px 2px black,
    0 0 1em blue,
    0 0 0.2em blue;
}

.card button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 15px;
    cursor: pointer;
}

.card button:hover {
    background-color: #0056b3;
}

footer {
    color: whitesmoke;
    text-align: center;
    padding: 20px;
    background-color:black;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}